/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Ini css pekerjaan saya */

body {
    font: 16px/28px arial, sans-serif;
    background-image: url(wheat.png);
    color: #333;

}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: lightskyblue;
    border-bottom: 5px solid salmon;
    z-index: 9999;

}

.container {
    width: 990px;
    margin: 80px auto;
    background-color: #eaeaea;
    position: relative;
}

.twitter {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-image: url(twitter_ribbon.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    position: absolute;
    top: -29px;
    right: 0px;
}

.header {
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

.header a {
    text-decoration: none;
    color: salmon;
    padding: 5px;
}

.header a:hover,
.content .penulis a:hover {
    font-weight: bold;
}

.hero {
    height: 320px;
    background-image: url(woman.jpg);
    background-size: cover;
    background-position: 0 -150px;
    border-top: 5px solid salmon;
    border-bottom: 5px solid salmon;
}

.main {
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}

h2 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.main .penulis {
    font-size: 12px;
}

.main .penulis a {
    color: salmon;
    text-decoration: none;
}

.main p {
    margin-bottom: 20px;
    font-size: 15px;
}

.footer {
    background-color: #333;
    padding: 15px;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}

.sidebar {
    width: 300px;
    float: right;
    padding: 20px;
}

.sidebar h3 {
    font-weight: bold;
    color: dimgray;
    margin-bottom: 10px;
}

.sidebar .imgg {
    width: 70px;
    height: 80px;
    float: left;
    padding-right: 10px;
}

.sidebar p {
    font: 12px/18px arial;
    margin-bottom: 20px;

}

/* micro clear fix */
.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}